body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.baris {
    display: flex;
    gap: 30px;
    max-width: 1000px;
    margin: auto;
    max-width: 960px;
    margin: 0px auto 40px;
    background: white;
    padding: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}

.sub {
    font-weight: bold;
    color: #1900ff;
}

.outline {
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 15px;
}

.outline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #000000;
}

.header {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;

    background: linear-gradient(135deg, #4f46e5, #9333ea);
    color: white;
}